.uberuns_container{
    width: 100%;
}
.uberuns_section{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    width: calc(100% - 2rem);
    gap: 1.5rem;
    @media screen and (max-width: 1375px) {
        flex-wrap: wrap;
    }
    h2{
        font-size: 3rem;
        color:#182138;
    }
    h3{
        color:#182138;

    }
    p{
        color:#182138;

    }
}



.uberuns_title{
    display: flex;
    align-items: center;
    justify-content:center ;
    font-size: 2rem;
    color: white;
    background-color: #182138;
    height: 80px;
    width: 100%;
}

.uberuns_text{
    p{
        color:#182138;
        font-size: 1.5rem;
        padding-right: 2.5rem;
        @media screen and (max-width: 1630px) {
            font-size: 1.25rem;
        }
    }
    h2{
        font-size: 2.5rem;
        @media screen and (max-width: 1630px) {
            font-size: 2rem;
        }
    }
}


.map{
    @media screen and (max-width: 1300px) {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    img{
        border: 5px solid white;
        width: 750px;
        height: auto;
        @media screen and (max-width: 1630px) {
        width:650px;
        }
        @media screen and (max-width: 1375px) {
            width: 90vw;
        }
    }
}

.uberuns_right_side{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center ;
        gap: 3rem;
        @media screen and (max-width: 1300px) {
            flex-direction: row;
            width: 100%;
        }
    div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center ;
        img{
            width:200px;
            height:200px;
            object-fit: cover;
            border-radius: 50%;
            @media screen and (max-width: 1630px) {
                width:170px;
            height:170px;
            }
            @media screen and (max-width: 1375px) {
                width:40vw;
            height:40vw;
            }
        }

    }
}