.text-gradient {
  background-color: red;

  /* Create the gradient. */
  background-image: linear-gradient(45deg, rgba(191, 96, 0, 1) 16%, rgba(110, 103, 255, 1) 74%);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.app__hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Behalten Sie diese Position bei */
  overflow: hidden;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  min-height: calc(100vh);
  color: #161c27;
  max-height: 100vh;
  padding-bottom: 80px;
}

.app__hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65); /* Schwarz mit 50% Transparenz */
  z-index: 1; /* Overlay über dem Hintergrundbild */
}

.app__hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/hero-key.jpg'); /* Überprüfen Sie den Pfad */
  filter: blur(3px);
  background-size: cover;
  background-position: center;
  z-index: 0; /* Hinter dem Inhalt */
}

.app__hero-text {
  position: relative; /* Stellt sicher, dass diese Inhalte über dem Hintergrund angezeigt werden */
  width: 800px;
  z-index: 2; /* Über dem Inhalt */
  color: white;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1000px) {
    width: 500px;
  }
  h5 {
    color: #6e67ff;
    font-size: 1.6rem;
    text-align: center;
    @media screen and (max-width: 1265px) {
      font-size: 1.2rem;
    }
    @media screen and (max-width: 800px) {
      font-size: 1rem;
    }
  }
  h2 {
    padding-bottom: 1rem;
    font-size: 3rem;
    text-align: center;

    @media screen and (max-width: 1265px) {
      font-size: 2.5rem;
    }
    @media screen and (max-width: 800px) {
      font-size: 2rem;
    }
  }
  p {
    text-align: center;

    font-size: 1.3rem;
    @media screen and (max-width: 1265px) {
      font-size: 1.2rem;
    }
    @media screen and (max-width: 800px) {
      font-size: 1rem;
    }
  }
  .hero-text-p {
    text-align: center;

    font-size: 1.1rem;
    @media screen and (max-width: 1265px) {
      font-size: 1rem;
    }
    @media screen and (max-width: 800px) {
      font-size: 1rem;
    }
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
  .app__hero-text-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  div {
    padding-top: 1rem;

    button {
      border-radius: 8px;
      background: var(--black-color);

      white-space: nowrap;
      padding: 0.75rem 2rem;
      color: var(--white-color);
      font-size: 20px;
      outline: none;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);

      &:hover {
        background: var(--black-color);
        transform: scale(1.05);
      }
    }
  }
}

.app__hero-house {
  width: 800px;
  @media screen and (max-width: 1465px) {
    width: 600px;
  }
  @media screen and (max-width: 1265px) {
    width: 450px;
  }
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    @media screen and (max-width: 500px) {
      width: 140px;
      height: 140px;
    }
  }
}
.container_hero {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 2rem;
  padding-top: 0 !important;
  padding-left: 0.5rem; /* 2px */
  width: fit-content;
}

.item {
  display: flex;
  gap: 0.5rem; /* 2px */
  align-items: center;
  margin-bottom: 0.75rem; /* 3px */
}
