
  
  .container__wrapper{
    display: flex;
    align-items: center;
    backdrop-filter: blur(9.5px);
    border-radius: 20px;
    box-shadow: 0 3.71429px 46.4286px #0000000d;;
    overflow: hidden;
    max-width: 1000px;
    height: 100%;
  }
  
  .right_text{
    padding-top: 4rem;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p{
      font-size: 1.6rem;
      font-weight: bold;
      text-align: center;
    }
    a{
            all: unset;
            color: var(--blue-color);
            cursor: pointer;
            &:hover{
            color: var(--secondary-color);
            transform: scale(2)
            }
    }
}
  .divider{
    width: 2px;
    background-color: var(--black-color);
    height: 70%;
    margin:2rem;
  }
  .card {
    width: 55%;
  }
  
  h1 {
    margin: 2rem 2rem 0;
    font-size: 1.62rem;
  }
  
  .form {
    padding: 2rem;
    p{
      height: 1.5rem;
      padding-left: 0.3rem;
      color: red
    }
    button {
      display: block;
      width: 100%;
      align-self: right;
      background-color: var(--secondary-color);
      border: none;
      border-radius: 3px;
      padding: 1ch;
      font-size: 1rem;
      color: #fff;
      font-family: inherit;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      border-radius: 50px;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
              &:hover{
              background: var(--blue-color);
              transform: scale(1.02)
              }
    }
  }
  
  
  @mixin input {
    display: block;
    width: 100%;
    border: 2px solid #eee;
    padding: 1ch;
    border-radius: 10px;
    transition: 150ms ease;
    outline: none;
    font-size: 1rem;
    font-family: inherit;
  }
  
  @mixin input-focus {
    border-color: var(--secondary-color);
  }
  
  @mixin label {
    position: absolute;
    top: 1ch;
    left: 1ch;
    padding: 0 .5ch;
    pointer-events: none;
    transition: 150ms ease;
    color: #888;
  }
  
  @mixin label-focus {
    position: absolute;
    top: 0;
    font-size: 0.9em;
    color: var(--secondary-color);
    font-weight: bold;
    transform: translateY(-50%);
    background-color: white;
    font-weight: 600;
    border-radius: 10px;
  }
  
  
  
  .text-input {
    position: relative;
    margin-bottom: 1rem;
    label {
      @include label;
    }
    label.label-focus {
      @include label-focus;
    }
    input {
      @include input;
    }
    input.input-focus {
      @include input-focus;
    }
  }
  
  .text-area {
    position: relative;
    margin-bottom: 1rem;
    label {
      @include label;
    }
    label.label-focus {
      @include label-focus;
    }
    textarea {
      @include input;
      height: 8em;
    }
    textarea.input-focus {
      @include input-focus;
    }
  }