.app__hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    width: 100vw;
    min-height: calc(100vh + 80px);
    position: absolute;
    top: 0;
    background: #161B33;
    color: var(--white-color);
    padding-bottom: 80px;
    @media screen and (max-width: 1060px) {
        padding-top: 80px;
        min-height: calc(1300px + 80px)
    }
}


.app__hero-text{
    width: 600px;
    display: flex;
    flex-direction: column;
    h5{
        color: var(--blue-color);
    font-size: 1.6rem;

    }
    h2{
    padding-bottom: 1rem;
    font-size: 4rem;
    }
    p{
    font-size: 1.3rem;
    }
    
    div{
        padding-top: 2rem;
        button{
            border-radius: 50px;
            background: var(--blue-color);
            white-space: nowrap;
            padding: 0.5rem 2rem;
            color: var(--white-color);
            font-size: 20px;
            outline: none;
            border: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease-in-out;
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
            
            &:hover{
            background: var(--black-color);
            transform: scale(1.05)
            }
        }
    }
}

.app__hero-house{
    display:grid;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

    img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
}
}
