.app__hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    margin: auto;

    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}

.app__hero-text{
    width: 600px;
    height: inherit;
    display: flex;
    flex-direction: column;
    h5{
        color: var(--secondary-color);
    font-size: 1.6rem;

    }
    h2{
    padding-bottom: 1rem;
    font-size: 4rem;
    }
    p{
    font-size: 1.3rem;
    }
    
    div{
        padding-top: 3rem;
        button{
            border-radius: 50px;
            background: var(--secondary-color);
            white-space: nowrap;
            padding: 0.5rem 2rem;
            color:#fff;
            font-size: 20px;
            outline: none;
            border: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease-in-out;
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
            
            &:hover{
            background: var(--blue-color);
            transform: scale(1.05)
            }
        }
    }
}

.app__hero-logo{
    img{
    width: 600px;
}
}
