.app__hero-section{
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}

.app_hero-text{
    width: 300px;
    height: inherit;
    padding: 1rem
}
.app__hero-logo{
    img{
    width: 450px;
}
}
