.footer{
  background-color: #a0a0a0;
  color: #495057;
  padding: 50px 0;
  font-size: 16px;
}

.footer-socials{
display: flex;
justify-content: center;
gap:1rem;
margin-top: 3rem;
}

.footer-text {
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer-links{
    display: flex;
    flex-direction: column;
  }
 
  .col-3{
    p{
      display: flex;
      align-items: center;
    }
  }