.footer{
  background-color: #a0a0a0;
  color: #495057;
  padding: 50px 0;
  font-size: 16px;
display: flex;
justify-content: center;
}



.footer-text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  justify-items: center;
  @media screen and (max-width: 800px) {

}
    div{
      height: 130px;
    }
  }
  .footer-links{
    display: flex;
    flex-direction: column;
  }
 
  .col-3{
    p{
      display: flex;
      align-items: center;
    }
  }