@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #FAC189;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #5F5E5E;
  --green-color: #E1E096;
  --white-color: #ffffff;
  --blue-color: #89C2FA;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}